@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc67fa,
    #f4c4f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc67fa,
    #f4c4f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  color: white;
}

main {
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #610b49,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  text-align: center;
  width: 100vw;
  border: none;
}
.btn button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #610b49;
  cursor: pointer;
  font-size: 16px;
  color: white;
}
.btn button:hover {
  background-color: #7303c0;
}

h4 {
  width: 100%;
  text-align: center;
}
